@import "../../styles/base";

.Home {

  .welcome, .introduction {
    text-align: center;
    max-width: 700px;
    margin: 50px auto 20px auto;
    @include respond-to(mobile) {
      margin: 20px auto 20px auto;
    }
  }

  .picturegallery {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    @include respond-to(mobile) {
      grid-gap: 20px 8px;
      grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
    }
    .picture {
      width: 200px;
      height: auto;
      justify-self: center;
      @include respond-to(mobile) {
        width: 135px;
      }
    }
  }

  .search {
    position: fixed;
    z-index: 100;
    margin-top: 10vh;
    text-align: center;
    left: calc(50% - 300px);
    @media only screen and (max-width: 640px) { //searchfield width + margin
      margin: 2vh 20px 0 20px;
      width: calc(100% - 40px);
      left: 0;
    }
    .btn {
      cursor: pointer;
      border-radius: 2px;
      font-weight: 600;
      display: inline-block;
      color: white;
      margin-top: 30px;
      padding: 5px 14px;
      box-shadow: 3px 9px 15px 2px $border_color;
      background-color: $primary_light;
    }
    .btn:hover {
      color: $background_color;
      background-color: $primary_dark;
      text-decoration: none;
    }
    .poweredbyquote {
      font-size: 14px;
      margin-top: 5px;
      position: absolute;
      right: 5px;
    }
  }

  .langs {
    text-align: center;
    margin: 0 0 50px 0;
    padding: 0;
    font-size: $standard_font_size;
    font-weight: $semi_font_weight;
    >li {
      display: inline-block;
      list-style: none;
    }
    @include respond-to(mobile) {
      margin: 0 0 30px 0;
    }
    a {
      color: $secondary_light;
      padding: 0 8px;
      margin: 0;
      text-decoration: none;
      &.active, &:hover {
        color: $secondary_dark;
        background-color: $secondary_light;
      }
    }
  }

}
