@import "../../styles/base";

.Record {
  border-top: 1px solid $border_color;
  padding: 10px 0 30px 0;
  margin: 10px 0 30px 0;
  position: relative;

  .label {
    font-weight: $semi_font_weight;
    min-width: 160px;
    &::after {
      content: ": ";
    }
  }

  .highlight {
    em {
      font-weight: $bold_font_weight;
      font-style: normal;
    }
  }

  .toggle {
    position: absolute;
    bottom: 0;
    border: none;
    margin: 0;
    padding: 0;
    font-weight: $semi_font_weight;
    color: $primary_color;
    &:hover {
      color: $primary_light;
      cursor: pointer;
    }
  }

  .fileinformation {
    text-align: right;
    margin-bottom: 15px;
  }

  .actionoptions {
    float: right;
  }

  .actionlink {
    padding: 5px 14px;
    margin: 0 0 10px 10px;
    color: white;
    font-weight: $semi_font_weight;
    background-color: $primary_dark;
    border-radius: 2px;
    &:hover {
      color: $primary_light;
      background-color: $primary_color;
    }
  }

  .properties {
    list-style-type: none;
    margin-top: 30px;
    @include respond-to(non_mobile) {
      column-count: 2;
    }
    li {
      margin-bottom: 5px;
      display: flex;
    }
  }

  h3 {
    font-size: $title_font_size;
    font-weight: $bold_font_weight;
    margin: 0 50px 20px 0;
  }
  a:hover {
    text-decoration: none;
    color: $primary_color;
  }

  p {
    margin: 0 0 20px 0;
  }

  ul {
    padding-left: 0;
  }

  .fileicon {
    position: absolute;
    top: 10px;
    right: 0;
    height: 50px;
    box-shadow: 0 5px 10px 0 $border_color;
  }
}
