@import "../../styles/base";

.Record {
  border-top: 1px solid $border_color;
  padding: 10px 0 30px 0;
  margin: 10px 0 20px 0;
  position: relative;

  .label {
    font-weight: $semi_font_weight;
    min-width: 190px;
    &::after {
      content: ": ";
    }
    @include respond-to(mobile) {
      margin-right: 3px;
    }
  }

  .highlights {
    em {
      font-weight: $bold_font_weight;
      font-style: normal;
    }
  }

  .toggle {
    position: absolute;
    bottom: 0;
    &:hover {
      cursor: pointer;
    }
  }

  .fileinformation {
    text-align: right;
    margin-bottom: 15px;
  }

  .actionoptions {
    float: right;
  }

  .actionlink {
    padding: 5px 14px;
    margin: 0 0 10px 10px;
    color: white;
    font-weight: $semi_font_weight;
    background-color: $primary_color;
    border-radius: 2px;
    &:hover {
      color: $background_color;
      background-color: $primary_dark;
    }
  }

  .properties {
    list-style-type: none;
    margin-top: 20px;
    @include respond-to(non_mobile) {
      column-count: 2;
    }
    li {
      line-height: $standard_line_height;
      margin-bottom: 5px;
      display: flex;
      @media only screen and (max-width: 500px) {
        display: block;
      }
    }
    a {
      color: $primary_color;
    }
  }

  h3 {
    font-size: $title_font_size;
    font-weight: $bold_font_weight;
    min-height: 30px;
    margin: 0 50px 10px 0;
    word-wrap: break-word;
  }
  a:hover {
    text-decoration: none;
    color: $primary_color;
  }

  p {
    margin: 0 0 20px 0;
  }

  ul {
    padding-left: 0;
  }

  .fileicon {
    position: relative;
    float: right;
    height: 50px;
    box-shadow: 3px 2px 11px 0 $border_color, 0px 2px 5px 0 $border_color;
  }
}
