@import "../../styles/base";

.Record {
  border-top: 1px solid $border_color;
  padding: 10px 0 30px 0;
  margin: 10px 0 30px 0;
  position: relative;

  .label {
    font-weight: bold;
    &::after {
      content: ": ";
    }
  }

  .highlight {
    em {
      font-weight: bold;
    }
  }

  .toggle {
    position: absolute;
    bottom: 0
  }

  .properties {
    @include respond-to(non_mobile) {
      column-count: 2;
    }
  }

  h3 {
    font-size: $title_font_size;
    margin: 0 0 20px 0;
  }
  a:hover {
    text-decoration: none;
    color: $primary_color;
  }

  p {
    margin: 0 0 20px 0;
  }

  ul {
    padding-left: 25px;
  }
}
