
/* Fonts */
$sans_serif_font: "Open Sans", Helvetica, sans-serif;
$logo_font_style: "Barlow";
$standard_font_size: 16px;
$standard_line_height: 24px;
$title_font_size: 20px;
$normal_font_weight: 400;
$semi_font_weight: 600;
$bold_font_weight: 700;

/* Colors */
$primary_light:    #EB3232;
$primary_dark:     #910505;
$background_color: #F6F6F6;
$secondary_light:  #E9E9E9;
$border_color:     rgba(34, 34, 34, 0.4);
$secondary_dark:   #747474;
$black_color:      #222222;

$layout_padding: 80px;
$layout_padding_mobile: 15px;
$header_height: 52px;
$footer_height: 50px;
$facets_width: 380px;

$break: 900px;

input:focus, textarea:focus {
    outline: none;
}

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break) { @content; }
  }
  @else if $media == non_mobile {
    @media only screen and (min-width: $break + 1) { @content; }
  }
  @else {
    @error "Not a valid breakpoint: #{$media}"
  }
}
