
/* Fonts */
$sans_serif_font: "Open Sans", Helvetica, sans-serif;
$standard_font_size: 16px;
$standard_line_height: 20px;
$title_font_size: 23px;
$normal_font_weight: 400;
$semi_font_weight: 600;
$bold_font_weight: 700;

/* Colors */
$background_color: #F5F5F5;
$primary_dark:     #154398;
$primary_color:    #005AFF;
$primary_light:    #64B4FF;
$secondary_light:  #D7D5CE;
$black_color:      #222222;
$link_color:       #005AFF;
$border_color:     #D7D2C8;

$facets_width: 380px;

$break: 900px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break) { @content; }
  }
  @else if $media == non_mobile {
    @media only screen and (min-width: $break + 1) { @content; }
  }
  @else {
    @error "Not a valid breakpoint: #{$media}"
  }
}
