
/* Fonts */
$sans_serif_font: sans-serif;
$bold_font_weight: 700;

/* Colors */
$background_color: #dfdfdf;
$primary_dark:     rgb(36, 12, 86);
$primary_light:    rgb(84, 43, 178);

/* Layout */
$layout_padding: 80px;
