@import "./base";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $sans_serif_font;
  font-size: $standard_font_size;
  font-weight: $normal_font_weight;
  color: $black_color;
}

h2 {
  font-size: 22px;
  font-weight: $bold_font_weight;
}

p {
  line-height: $standard_line_height;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, button {
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid $black_color;
  border-radius: 2px;
  appearance: none;
  font-family: $sans_serif_font;
  background-color: transparent;
}
button {
  cursor: pointer;
  padding: 5px 14px;
  margin: 0;
  color: white;
  font-weight: $semi_font_weight;
  border-radius: 2px;
  border: none;
  &:hover {
    color: $background_color;
  }
}


input[type="checkbox"] {
  appearance: none;
  background-color: $background_color;
  border: 2px solid $black_color;
  box-shadow: none;
  padding: 8px;
  top: 7px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-right: 15px;

  &:hover {
    background-color: $border_color;
    cursor: pointer;
  }

  &:checked {
    background-color: $primary_color;
    border-color: $primary_color;
    color: white;
    content: "";
  }

  &:checked:after {
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
    left: 4.66667px;
    top: .22222px;
    display: table;
    width: 6.66667px;
    height: 13.33333px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
  }
}
