@import "../../styles/base";

.Records {
  @include respond-to(non_mobile) {
    margin-right: $facets_width;
  }

  .status {
    margin: 20px 0;
    font-weight: $bold_font_weight;
    color: $secondary_dark;
  }

}
