@import "../../styles/base";

.Header {
  background: $background_color;
  height: 60px;
  padding: 0 $layout_padding;

  .langs {
    float: right;
    >li {
      display: inline-block;
      list-style: none;
    }
    a {
      color: white;
      padding: 5px;
      margin-left: 5px;
      text-decoration: none;
      background-color: $primary_dark;
      &.active, &:hover {
        background-color: $primary_light;
      }
    }
  }
}

