@import "../../styles/base";

.Header {
  background: $background_color;
  box-shadow: 0 0 5px $border_color;
  font-weight: $bold_font_weight;
  height: 70px;

  .logo {
    height: 56px;
    margin: 7px 20px 0 0;
  }

  .langs {
    float: right;
    margin-top: 2px;
    padding: 0;
    >li {
      display: inline-block;
      list-style: none;
    }
    a {
      color: $background_color;
      padding: 2px 8px 2px 8px;
      margin-left: 7px;
      text-decoration: none;
      background-color: $border_color;
      &.active, &:hover {
        background-color: $primary_color;
      }
    }
  }

  .button {
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    width: 70px;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 8px;
    cursor: pointer;
  }

  .lupe {
    width: 30px;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
  }
}
