@import "../../styles/base";

.Header {
  box-sizing: border-box;
  background: $black_color;
  box-shadow: 0 0 5px $border_color;
  font-weight: $bold_font_weight;
  height: $header_height;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  padding: 0 $layout_padding;
  @include respond-to(mobile) {
    padding: 0 $layout_padding_mobile;
  }

  .Applogo {
    display: inline-block;
    margin-top: 6px;
    }
    .logopicture {
      height: 32px;
      margin-right: 15px;
      @include respond-to(mobile) {
        margin: 4px 0 0 0;
      }
    }
    .logoname {
      position: relative;
      display: inline;
      font-size: 20px;
      font-family: $logo_font_style;
      font-weight: $semi_font_weight;
      color: white;
      @include respond-to(mobile) {
        display: none;
      }
    }

  .button {
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    width: 70px;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 8px;
    cursor: pointer;
  }

  .lupe {
    width: 30px;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
  }
}
