@import "../../styles/base";

.Facets {
  background: $background_color;
  width: 300px;
  margin-left: 30px;

  .facets {
    padding: 20px;
    ul {
      padding-left: 20px;
    }
    li {
      list-style-type: none;
    }
    .label {
      cursor: pointer;
    }
  }
}
