@import "../../styles/base";

.Facets {
  background: $background_color;
  width: $facets_width + 20px;
  max-width: calc(100vw - 40px);
  margin-left: 30px;
  display: block;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 100;
  font-family: $sans_serif_font;
  font-weight: $semi_font_weight;
  box-shadow: 0 0 25px $border_color;

  .openMenuBtn, .closeMenuBtn {
    display: none;
  }

  @include respond-to(mobile) {
    box-shadow: 0px 40px 30px 5px $border_color;
    overflow-y: visible;
    transition-duration: .2s;
    transition-delay:    .1s;
    .openMenuBtn, .closeMenuBtn {
      z-index: 9999;
      display: block;
      position: absolute;
      top: 8px;
      height: calc(#{$header_height} - 8px);
      background-repeat: no-repeat;
      border: none;
      &:focus {
        outline: 0;
      }
    }
    .openMenuBtn {
      right: 11px;
      width: 35px;
      background-size: 37px;
      display: none;
    }
    .closeMenuBtn {
      left: -25px;
      width: 15px;
      background-size: 12px;
      background-color: $black_color;
      background-position: 0 9px;
      padding: 0 25px 0px 0;
    }
    &.-closed {
      width: 0;
      box-shadow: none;
      .openMenuBtn {
        display: block;
      }
      .closeMenuBtn {
        display: none;
      }
      .SearchField .button {
        display: none;
      }
    }
  }

  .facets {
    padding: 10px 20px;
    margin: 50px 0;
    line-height: 44px;
    font-size: 17px;
    overflow: scroll;
    height: calc(100% - 80px);
    @include respond-to(mobile) {
      padding: 10px $layout_padding_mobile;
    }

    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    label {
      cursor: pointer;
    }
  }

  .dropdown {
    width: 12px;
    float: right;
    margin-top: 20px;
    pointer-events: none;
  }

  .label {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    border-top: 1px solid $border_color;
  }
  ul > :first-child .label {
    border-top: 0;
  }

  .timeinput {
    padding: 0 20px 0 0;
    label {
      display: inline-block;
      width: 50px;
    }
    input {
      max-width: 150px;
    }
    ::placeholder {
      color: $border_color;
    }
  }
}
