@import "../../styles/base";

.SearchField {
  position: relative;

  &.-home {
    .searchfield {
      height: 70px;
      width: 90%;
      padding: 10px 70px 10px 20px;
    }

    .button {
      height: 70px;
      width: 70px;
    }
  }

  .searchfield {
    background-color: $secondary_light;
    border: none;
    border-radius: 5px;
    font-size: 30px;
  }

  .button {
    position: absolute;
    right: 10%;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 8px;
    cursor: pointer;
  }

  .lupe {
    width: 50px;
    position: absolute;
    padding: 10px;
    right: 10%;
    top: 0px;
  }

}
